.bg-narrowcasting{
  position: absolute;
  top:0;
  bottom:0;
  left: 50%;
  right:0;
  background-image: url('../images/promo/narrowcasting.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-presentation{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(7 / 12);
  right:0;
  background-image: url('../images/promo/presentation.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-bucket{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(7 / 12);
  right:0;
  background-image:url('../images/promo/leakybucket_2.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.bg-devices{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image:url('../images/devices.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.bg-contact{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/contact/zuiderplein-1.jpg');
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.bg-contact-parking{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: percentage(6 / 12);
  background-image: url('../images/contact/zuiderplein-6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-willemskade{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/contact/willemskade.jpg');
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.bg-klanderij{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/contact/klanderij.jpg');
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.bg-private-parking{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/contact/private-parking.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bg-about-us{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/about-us/odilio-en-marco.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-marcokramer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: percentage(6 / 12);
  right: 0;
  height:360px;
  width:360px;
  border-radius:500px;
  background-image: url('../images/about-us/marcokramer.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @extend .box-shadow;
}
.profile-odiliowitteveen{
  display: inline-block;
  vertical-align: middle;
  height:100px;
  width:100px;
  border-radius:500px;
  background-image: url('../images/about-us/odiliowitteveen.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @extend .box-shadow;
  @extend .mr-4;
}


.bg-we-help-agencies-and-companies{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(7 / 12);
  right:0;
  background-image: url('../images/we-help-agencies-and-companies.jpg');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}


.bg-conversion-research{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/conversion-research.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-conversion-strategy{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: percentage(6 / 12);
  background-image: url('../images/conversion-strategy.jpg');
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.bg-conversion-design{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/conversion-design.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-conversion-build{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: percentage(6 / 12);
  background-image: url('../images/conversion-build.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bg-bar{
  position: absolute;
  bottom: 20px;
  width: 300px;
  height: 36px;
  right: 0px;

  .icon{
    float:left;
    width: 36px;
  }

  .content{
    float: left;
    width: calc(100% - 36px);
    font-size: .75rem;
    line-height: 1.2;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
.bg-left{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 50%;
  background-repeat: no-repeat;
}

.bg-right{
  position: absolute;
  top:0;
  bottom:0;
  left: 50%;
  right: 0;
  background-repeat: no-repeat;
}
.bg-contain{
  background-size: contain !important;
}

.bg-cover{
  background-size: cover !important;
}

.bg-center{
  background-position: center !important;

  &-top{
    background-position: center top !important;
  }
  &-left{
    background-position: center left !important;
  }
  &-right{
    background-position: center right !important;
  }
  &-bottom{
    background-position: center bottom !important;
  }
}

@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(sm) {
  .bg-right,
  .bg-left{
    position: relative;
    left:0;
    right:0;
    padding-top: 56.25%;
  }
}
@include media-breakpoint-down(sm) {
  .bg-we-help-agencies-and-companies{
    position: relative;
    padding-top: 56.25%;
    left: 0;
    right: 0;
  }
}
