.bg-narrowcasting{
  position: absolute;
  top:0;
  bottom:0;
  left: 50%;
  right:0;
  background-image: url('../images/promo/narrowcasting.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-presentation{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(7 / 12);
  right:0;
  background-image: url('../images/promo/presentation.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-bucket{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(7 / 12);
  right:0;
  background-image:url('../images/promo/leakybucket_2.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.bg-contact{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/contact/zuiderplein-1.jpg');
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.bg-contact-parking{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: percentage(6 / 12);
  background-image: url('../images/contact/zuiderplein-6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-willemskade{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/contact/willemskade.jpg');
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.bg-klanderij{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/contact/klanderij.jpg');
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.bg-private-parking{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/contact/private-parking.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bg-about-us{
  position: absolute;
  top:0;
  bottom:0;
  left: percentage(6 / 12);
  right:0;
  background-image: url('../images/about-us/odilio-en-marco.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-marcokramer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: percentage(6 / 12);
  right: 0;
  height:360px;
  width:360px;
  border-radius:500px;
  background-image: url('../images/about-us/marcokramer.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @extend .box-shadow;
}
.profile-odiliowitteveen{
  display: inline-block;
  vertical-align: middle;
  height:100px;
  width:100px;
  border-radius:500px;
  background-image: url('../images/about-us/odiliowitteveen.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @extend .box-shadow;
  @extend .mr-4;
}

.bg-gradient{
  &-winter-neva{
    // Blueish
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) !important;
  }
  &-tempting-azure{
    // Greenish to Blueish
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
  }
  &-clean-mirror{
    // Greyish blue to White-ish
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%) !important;
  }
  &-mountain-rock{
    // Somewhat dark Grey
    background-image: linear-gradient(-40deg, #868f96 0%, #596164 100%) !important;
  }
  &-new-life{
    // Bright greenish to bright turquoise-ish
    background-image: linear-gradient(40deg, #43e97b 0%, #38f9d7 100%) !important;
  }
  &-vicious-stance{
    // Darker then mountain rock
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  }
  &-above-clouds{
    // Light grey-ish
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%) !important;
    background-blend-mode: normal, lighten, soft-light !important;
  }
  &-dense-water{
    // Sort of turquoise if you see it to purple-ish
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%) !important;
  }
  &-mole-hall{
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  }
  &-african-field{
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
  }
  &-warm-flame{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  }
}
