.brands-img{
  @include filter(grayscale, 100%);
  transition: all 150ms ease;

  &:hover{
    transform: translateY(-2px);
    @include filter(grayscale, 0);
    @extend .box-shadow;
  }
}

.brands-grid-img{
  transition: all 150ms ease;

  &:hover{
    transform: translateY(-2px);
    @extend .box-shadow;
  }
}
