.btn-divider{
  text-align:center;
  padding-top: $input-btn-padding-y;
  padding-bottom: $input-btn-padding-y;
  margin-left: .8rem;
  margin-right: .8rem;
  border-left: 2px solid rgba(255, 255, 255, .2);
}

.btn-iwti{
  margin-top: -22px;
}

@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(md) {
  .btn-lg{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(xl) {}
