strong, b{
  font-weight: 600 !important;
}
.text-underline{
  text-decoration: underline !important;
}

.text-body{
  color: $body-color;

  &:hover{
    text-decoration: none;
  }
}

a{
  font-weight: 400;

  &.link{
    text-decoration: underline;
  }

  &.rotate:not(.collapsed){
    i.rotate{
      transform: rotate(180deg);
    }
  }
}
small,
.small{
  font-weight: 400;
}
ul{
  .fa-check,
  .fa-chevron-right{
    color: $green;
  }
}

// Create underlines for each color in theme-colors()
@each $color, $value in $theme-colors {
  .underline-#{$color}{
    border-bottom: 2px solid $value;
  }
}

ul.list-checkmark{
  list-style: none;
  padding: 0;

  @each $color, $value in $theme-colors {
    &.checkmark-#{$color}{
      li:before{
        color: $value;
      }
    }
  }

  @each $color, $value in $theme-colors {
    li.list-item-#{$color}:before{
      color: $value;
    }
  }

  li{
    padding-left: 2.4rem;

    &:before{
      content: $fa-var-check;
      font-family: FontAwesome;
      font-size: 1.8rem;
      display: inline-block;
      margin-left: -2.4rem;
      width: 2.4rem;
      vertical-align: middle;
    }
  }
}

@include media-breakpoint-down(lg) {
  .display-1{
    font-size: 2.1rem;
  }
  .display-2{
    font-size: 1.9rem;
  }
  .display-3{
    font-size: 1.7rem;
  }
  .display-4{
    font-size: 1.4rem;
  }
}
@include media-breakpoint-down(md) {
  .display-1{
    font-size: 2rem;
  }
  .display-2{
    font-size: 1.8rem;
  }
  .display-3{
    font-size: 1.5rem;
  }
  .display-4{
    font-size: 1.3rem;
  }
}
@include media-breakpoint-down(sm) {
  .display-1{
    font-size: 2rem;
  }
  .display-2{
    font-size: 1.6rem;
  }
  .display-3{
    font-size: 1.4rem;
  }
  .display-4{
    font-size: 1.2rem;
  }

  .display-1, .display-2, .display-3, .display-4, .lead{
    br {
      display: none;
    }
  }
}
