.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}
.fa{
  vertical-align: baseline;
  &.s1{
    font-size: $h1-font-size !important;
  }
  &.s2{
    font-size: $h2-font-size !important;
  }
  &.s3{
    font-size: $h3-font-size !important;
  }
  &.s4{
    font-size: $h4-font-size !important;
  }
  &.s5{
    font-size: $h5-font-size !important;
  }
}

.container{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@include media-breakpoint-up(md) {
  .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.overflow-hidden{
  overflow: hidden;
}


.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.img-circle{
  border-radius: 9999px !important;
}

.list-group-flush{
  .list-group-item:first-child {
    border-top: 0;
  }
}

.card{
  border-radius: 0px;
  border: 0px;

  &:hover{
    .card-img-top{
      transform: scale(1.03);
    }
  }

  a.text-body{
    text-decoration: none !important;
  }
  .card-img-top{
    border-radius: 0px;
    transition: all 150ms ease-in-out;
  }
}

.text-body{
  color: $body-color;
}

// Create underlines for each color in theme-colors()
@each $color, $value in $theme-colors {
  .underline-#{$color}{
    border-bottom: 2px solid $value;
  }
}

.review-slider{
  .slick-prev{
    position: absolute;
    left: 15px;
    bottom: -25px;
    z-index: 1000;

    @extend .btn;
  }
  .slick-next{
    position: absolute;
    right: 15px;
    bottom: -25px;
    z-index: 1000;

    @extend .btn;
  }
}

@include media-breakpoint-up(xl){
  .col-xl-2-4{
    @include make-col(2.4, 12)
  }
}
@include media-breakpoint-up(md){
  .col-md-2-4{
    @include make-col(2.4, 12)
  }
}
@include media-breakpoint-up(ld){
  .col-lg-2-4{
    @include make-col(2.4, 12)
  }
}
@include media-breakpoint-up(sm){
  .col-sm-2-4{
    @include make-col(2.4, 12)
  }
}
