.container{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.1);
}

.overflow-hidden{
  overflow: hidden;
}

.img-circle{
  border-radius: 9999px !important;
}

.list-group-flush{
  .list-group-item:first-child {
    border-top: 0;
  }
}

#scroll-to-top{
  position: fixed;
  right: 48px;
  bottom: 42px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 42px;
  border-radius: 50px;
  transition: all 300ms ease;
  opacity: 0;
  z-index: -1;

  @extend .text-white;
  @extend .bg-yellow;

  &.showing{
    opacity: 1;
    bottom: 48px;
    z-index: 9000;
  }
  &:hover{
    bottom: 52px;
    @extend .box-shadow;
  }
}

@include media-breakpoint-up(sm){
  .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
