.display-5 {
  font-size: $display5-size;
  font-weight: $display5-weight;
  line-height: $display-line-height;
}
.display-6 {
  font-size: $display6-size;
  font-weight: $display6-weight;
  line-height: $display-line-height;
}

.bg-gradient{
  &-winter-neva{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) !important;
  }
  &-tempting-azure{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
  }
  &-clean-mirror{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%) !important;
  }
  &-mountain-rock{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%) !important;
  }
  &-new-life{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%) !important;
  }
  &-vicious-stance{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  }
  &-above-clouds{
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%) !important;
    background-blend-mode: normal, lighten, soft-light !important;
  }
  &-dense-water{
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%) !important;
  }
}





.bg-bucket{
  background-image:url('../images/bucket.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.img-circle{
  border-radius: 9999px !important;
}

.glow{
  box-shadow: 0px 0px .3rem -.1rem $blue;

  &-blue{
    box-shadow: 0px 0px 2rem -1rem $blue;
  }
  &-orange{
    box-shadow: 0px 0px 2rem -1rem $orange;
  }
}

@keyframes blink-blink {
  98% {
    box-shadow: 0px 0px .3rem -.1rem $blue;
  }
  99%{
     box-shadow: 0px 0px .5rem -.1rem $blue;
  }
  95% {
    box-shadow: 0px 0px .3rem -.1rem $orange;
  }
  94% {
    box-shadow: 0px 0px .3rem -.1rem $blue;
  }
  94% {
    box-shadow: 0px 0px .5em -.1rem $blue;
  }
  93% {
    box-shadow: 0px 0px .3rem -.1rem $blue;
  }
  99% {
    box-shadow: 0px 0px .5rem -.1rem $blue;
  }
  97% {
    box-shadow: 0px 0px .3rem -.1rem $blue;
  }
}
