// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Color system
$white:         #fff;
$gray-100:      #f6f6f6;
$gray-150:      #f3f3f3;
$gray-200:      #e7e7e7;
$gray-300:      #E0E0E0;
$gray-400:      #BDBDBD;
$gray-500:      #9E9E9E;
$gray-600:      #757575;
$gray-700:      #616161;
$gray-800:      #123340; //#424242;
$gray-900:      #0B1E26; //#212121;
$black:         #000;

$grays: (
  100: $gray-100,
  150: $gray-150,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:          #00b0ff; //#5980ec;
$indigo:        #00A0D2; //#651FFF;
$purple:        #6f42c1;
$pink:          #e83e8c;
$red:           #EF4836;
$orange:        #f4701f;
$yellow:        #ffbc00;
$green:         #0BDA51;
$teal:          #466baa;
$turquoise:     #00bfa5;
$cyan:          #57E3F2; //#00b0ff;

$colors: (
  blue:         $blue,
  indigo:       $indigo,
  purple:       $purple,
  pink:         $pink,
  red:          $red,
  orange:       $orange,
  yellow:       $yellow,
  green:        $green,
  teal:         $teal,
  turquoise:    $turquoise,
  cyan:         $cyan,
  white:        $white,
  gray:         $gray-600,
  gray-dark:    $gray-800
);

$theme-colors: (
  primary:      $teal,
  secondary:    $orange,
  success:      $green,
  info:         $cyan,
  warning:      $yellow,
  danger:       $red,
  light:        $gray-150,
  dark:         $gray-800,
  blue:         $blue,
  indigo:       $indigo,
  purple:       $purple,
  pink:         $pink,
  red:          $red,
  orange:       $orange,
  yellow:       $yellow,
  green:        $green,
  teal:         $teal,
  turquoise:    $turquoise,
  cyan:         $cyan,
  white:        $white,
  black:        $black,
  gray-100:     $gray-100,
  gray-200:     $gray-200,
  gray-300:     $gray-300,
  gray-400:     $gray-400,
  gray-500:     $gray-500,
  gray-600:     $gray-600,
  gray-700:     $gray-700,
  gray-800:     $gray-800,
  gray-900:     $gray-900
);

// Spacing system
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * 1),
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4),
  7: ($spacer * 5),
  8: ($spacer * 6),
);


$body-bg:                         $white;
$body-color:                      #123340;

$link-color:                      #3BBCD9;
$link-decoration:                 none;
$link-hover-color:                darken($link-color, 15%);
$link-hover-decoration:           underline;

$font-size-base:                  1.1rem;
$line-height-base:                1.5;


$headings-font-weight:            300;
$headings-line-height:            1.3;
$h1-font-size:                    2.4rem;
$h2-font-size:                    2rem;
$h3-font-size:                    1.8rem;
$h4-font-size:                    1.4rem;
$h5-font-size:                    1.2rem;
$h6-font-size:                    1.1rem;

$display1-size:                   2.4rem; //6rem !default;
$display2-size:                   2rem;   //5.5rem !default;
$display3-size:                   1.8rem; //4.5rem !default;
$display4-size:                   1.4rem; //3.5rem !default;

$lead-font-size:                  1.28rem; //1.25rem

$nav-link-padding-y:              .4rem; //.5rem
$navbar-padding-y:                0rem; //($spacer / 2)

$table-border-color:              rgba( $gray-800, .2);
$table-hover-bg:                  rgba($gray-100, .3);

$font-family-sans-serif:          BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, -apple-system, sans-serif !default;

$input-focus-color:               $gray-900;
$input-placeholder-color:         $gray-400;
