@import "common/variables";
@import "common/mixins";

@import "./../../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "../fonts";
@import "./../../node_modules/font-awesome/scss/font-awesome";


// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
// endbower

@import "common/global";

@import "components/buttons";
@import "components/backgrounds";
@import "components/brands";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/typography";
@import "components/grid";
@import "components/cards";

@import "layouts/header";
@import "layouts/reviews";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/pricing";
@import "layouts/columns";
