footer{

  #footer_primary_navigation{
    .nav-item{
      .nav-link{
        @extend .px-0;
        @extend .py-1;
        @extend .text-gray-500;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  #footer_secondary_navigation{}

  .fa{
    font-size: 1.5rem !important;
  }
  hr{
    border-color: $gray-700;
  }
}
