#conversions{
  overflow: hidden;
}
.conversion-brands{
  a:hover{
    text-decoration: none;

    img{
      transform: translateY(-3px);
    }
  }
  img{
    transition: all 150ms ease;
  }
}

.conversion-summary,
.conversion-research,
.conversion-strategy,
.conversion-design,
.conversion-build{
  .conversion-arrow:after{
    bottom: -100px;
  }
}
