.layout-pricing{
  .included{
    color: $green;
  }
  .not-included{
    color: rgba($gray-800, .1);
  }
  .product-title{
    font-weight: lighter;
  }
  table{
    th{
      border-top: none;
      border-bottom: 2px solid $gray-200;
    }
    tr{
      td{
        padding-top: .4rem;
        padding-bottom: .4rem;
        vertical-align: middle
      }
    }
  }
}
