.header-reviews{
  .featured{}
  .content{}
}

.layout-reviews{
  .read-more{
    display: inline-block;
  }
  .review-slider{
    overflow: hidden;
    transition: all .15s ease;

    .slick-prev,
    .slick-next{
      position: absolute;
      z-index: 1000;
      border-top: none;
      border-left: none;
      border-right: 4px solid $gray-600;
      border-bottom: 4px solid $gray-600;
      width: 10px;
      height: 10px;
      font-size: 0px;
      line-height: 0;
      background: none;
      height: 60px;
      width: 60px;
      bottom: calc(50% - 30px);
      transition: all .15s ease;
      cursor: pointer;

      &:focus{
        outline: none;
      }
    }

    .slick-prev{
      left: 25px;
      opacity: 0;
      transform: rotate(-225deg);
    }

    .slick-next{
      right: 25px;
      opacity: 0;
      transform: rotate(-45deg);
    }

    .slick-slide{
      transition: all .15s ease;
    }

    &:hover{
      .slick-slide:not(.slick-current){
        opacity: .6;

        &:hover{
          opacity: 1;
        }
      }

      .slick-prev{
        opacity: .6;
        left: 30px;
        &:hover{
          opacity: 1;
        }
      }

      .slick-next{
        opacity: .6;
        right: 30px;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}
